<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>
            <!-- <img src="android-chrome-80x80.png" alt="Nell Ikai" /> -->
            Nell Ikai
        </h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="clinic.html">Clinic</a>
        <a href="contact.html">Contact</a>
        <a href="/new">Leave A Comment</a>
        <a href="/comments">Community Message Board</a>
    </nav>
    <main>
    <h1>Edit</h1>
    <form method="post" action="/comments/<%=comment.id%>?_method=PATCH">
        <textarea name="text" class="editTextArea" maxlength="250" required><%= comment.text %></textarea>
        <button>Save</button>
    </form>
    </main>
</body>
</html>