<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <header>
        <h1>
            <!-- <img src="android-chrome-80x80.png" alt="Nell Ikai" /> -->
            Nell Ikai
        </h1>
    </header>
    <nav>
        <a href="index.html">Home</a>
        <a href="clinic.html">Clinic</a>
        <a href="contact.html">Contact</a>
    </nav>
        <main>
            <section>
                <h2 class="pageHeading">Psycho Dynamic Therapy </h2>   
                <nav class="local">
                    <a href="#professionalStatement">Professional Statement</a>
                    <a href="#educationExperience">Education and Experience</a>
                    <a href="#licensure">Licensure</a>
                    <a href="#languages">Languages</a>
                    <a href="#specialties">Specialties</a>
                    <a href="#generalExpertise">General Experties</a>
                    <a href="#treatmentApproaches">Treatment approaches</a>
                    <a href="#clientele">Clientele</a>
                    <a href="#locationHours">Location & Hours</a>
                </nav>
                <div class="nellHeadshotOne">
                    <img class="nellOne" src="images/nell-head-shot-two.jpg" alt="Nell Ikai" />
                </div>
    
</body>
</html>